<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MvcTourismApp</title>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="~/css/customStyleSheet.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 custom-navbar">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcTourismApp</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>

						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
									Attractions
								</button>

								<div class="dropdown-menu">
									<a class="nav-link text-dark" asp-area="" asp-controller="Attraction" asp-action="SearchAttractions">Search Attractions</a>

									@if (User.IsInRole("Tourist"))
									{
										<a class="nav-link text-dark" asp-area="" asp-controller="Attraction" asp-action="AddAttraction">Add Attraction</a>
									}

									@if (User.IsInRole("Moderator"))
									{
										<a class="nav-link text-dark" asp-area="" asp-controller="Attraction" asp-action="GetAllPendingAttractions">Pending Attractions</a>
										<a class="nav-link text-dark" asp-area="" asp-controller="Attraction" asp-action="GetAllDeniedAttractions">Denied Attractions</a>
									}

								</div>
							</li>

							<li class="nav-item dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
									Reviews
								</button>
								<div class="dropdown-menu">
									<a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="SearchReviews">All Reviews</a>
									@if (User.IsInRole("Tourist"))
									{
										<a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="ListAllReviewsForUser">My Reviews</a>
									}
								</div>
								
							</li>

							@if (User.IsInRole("Tourist"))
							{
								<li class="nav-item dropdown">
									<button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
										Saved Lists
									</button>

									<div class="dropdown-menu">

										<a class="nav-link text-dark" asp-area="" asp-controller="SavedList" asp-action="CreateSavedList">Create a Saved List</a>
										<a class="nav-link text-dark" asp-area="" asp-controller="SavedList" asp-action="ListAllSavedLists">See My Saved Lists</a>

									</div>
								</li>
							}
						}

						@if (User.IsInRole("Moderator"))
						{
							<li class="nav-item dropdown">
								<button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
									App User
								</button>

								<div class="dropdown-menu">
									<a class="nav-link text-dark" asp-area="" asp-controller="AppUser" asp-action="ListAllTourists">See All Tourists</a>
								</div>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - MvcTourismApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

	<script src="~/js/DataTable.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
